<section id="top-section" class="top-section">
    {% if app.user and app.user.isVerified == false %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            <div class="alert-message">
                <strong>Votre compte n'est pas activé</strong>,
                <a href="">renvoyer le lien d'activation</a>
            </div>
        </div>
    {% endif %}
</section>